@{
    ViewBag.Title = "ViewNoticeList";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}


<div class="Company-top-box">
        <div class="search-box">
         <input type="text" placeholder="标题/摘要.." id="txtQuery"  class="icon-search-txt">
             <select id="viewType" name="viewType" style="margin-left:5px;" >
         <option value="0" >类型</option>
         <option value="1" >规章制度</option>
         <option value="2"  >公告</option>
     </select>
         <input type="button" value="查询" id="btnQuery" class="icon-search">

     </div>
   <div class="btn-bar">
      
       <p class="showBar">查看详情 : 请双击需要查看的数据</p>
    </div>

</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>

<script type="text/javascript">
    enterSearch("#btnQuery");
   
    $(function () {
        var Viewtype = "@ViewData["Viewtype"]"
        $("#viewType   option[value='" + Viewtype + "']").attr("selected", true);
        $(".panel-tool-close").click(function () {
            $("#maskZ").remove()
        })
        var url = "/System/GetRuleList/?viewtype=" + Viewtype;
        $('#List').datagrid({
            url: url,
            width: $(window).width() - 10,
            method: 'post',
            height: $(window).height() - 60,
            fitColumns: true,
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 20,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                 { field: 'Title', title: '标题', width: 40, align: 'center' },
                 { field: 'Summary', title: '摘要', width: 150, align: 'center' },
                 { field: 'CreateDate', title: '上传时间', width: 50, align: 'center', formatter: formatDatebox },
                 { field: 'CreateName', title: '上传人', width: 50, align: 'center' },

            ]],
            onDblClickRow: function (rowIndex, rowData) {
                Details(rowData.ID)
            },
        })

        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 35
            }).datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 35
            });
        });
    })
    $('#btnQuery').click(function () {
        var queryStr = $("#txtQuery").val();
       var viewtype = $("#viewType").val();
      $('#List').datagrid({
          url: '/System/GetRuleList?queryStr=' + encodeURI(queryStr) + '&viewtype=' + viewtype 
      });
    });
    function Details(id) {
        $("#DivDetails").prev(".panel-header").find(".panel-title").html("详情")
        $('#IframeDetails')[0].src = "ViewNoticeDetails?id=" + id;
        $('#DivDetails').dialog('open');
     
    }
    </script>


<div id="DivDetails"  class="easyui-dialog" closed="true" modal="true" title="详情"
    style="width:70%; height:80%;" resizable="true" closable="true"  spellcheck="false" >
    <iframe scrolling="auto" id='IframeDetails' frameborder="0" src="" style="width: 100%; height: 98%;position:relative"></iframe>
</div>

