@{
    ViewBag.Title = "专票查询";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}

<div class="Company-top-box">
    <div class="search-box">
        <select id="selStatus" name="selStatus" class="sel-box">
            <option value="-2" selected>状态</option>
            <option value="2">不同意</option>
            <option value="1">已同意</option>
            <option value="0">审核中</option>
            <option value="-1">未审核</option>
        </select>
         <input type="text" placeholder="订单号/申请人.." id="txtQuery"  class="icon-search-txt">
        @*<input type="button" value="查询" id="btnQuery" class="icon-search">*@
        <span style="color: #808080; padding-right: 10px; font-size: 13px; margin-top: 3px; margin-left: 10px;">开始时间</span>
        <input name="statethisdate" editable="false" style="float: left;" value="" id="statethisdate" class="easyui-datebox" data-options="sharedCalendar:'#statethisdate'">
        <span style="color: #808080; padding-right: 10px; font-size: 13px; margin-top: 3px; margin-left: 10px;">结束时间</span>
        <input name="Endthisdate" editable="false" style="float: left;" value="" id="Endthisdate" class="easyui-datebox" data-options="sharedCalendar:'#Endthisdate'">

         <input type="button" value="查询" id="btnQuery" class="icon-search">
     </div>
     <div class="btn-bar">
    </div>
</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>

<script type="text/javascript">
    enterSearch("#btnQuery");

    $(function () {
        var url = "/MajorInvoice/GetMajorInvoiceList/";
        $('#List').datagrid({
            url: url,
            width: $(window).width() - 15,
            method: 'post',
            height: $(window).height() - 45,
            fitColumns: true,
            // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 20,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                  { field: 'PostDate', title: '申请时间', width: 130, align: 'center' },
                { field: 'PostUser', title: '申请人', width: 100, align: 'center' },
                { field: 'ShopName', title: '店铺名称', width: 120, align: 'center' },
                { field: 'OrderNumber', title: '订单号', width: 100, align: 'center' },
                { field: 'TheInvoiceAmount', title: '开票金额', width: 100, align: 'center' },
                { field: 'InvoiceContent', title: '开票内容', width: 100, align: 'center' },
                   { field: 'Invoicetype', title: '发票类型', width: 100, align: 'center' },
                //{ field: 'Number', title: '单价', width: 100, align: 'center' },
                //{ field: 'UnitPrice', title: '数量', width: 100, align: 'center' },
                { field: 'Address', title: '发票邮寄地址', width: 100, align: 'center' },
                { field: 'CorporateName', title: '公司名称', width: 100, align: 'center' },
                { field: 'TaxNumber', title: '税号', width: 100, align: 'center' },
				
            { field: 'GoodsAddress', title: '省市区', width: 100, align: 'center' },
                { field: 'InvoiceAddress', title: '地址', width: 100, align: 'center' },
                { field: 'Telephone', title: '电话', width: 100, align: 'center' },
                { field: 'BankAccount', title: '银行帐号', width: 100, align: 'center' },
                { field: 'BankAddress', title: '开户行', width: 100, align: 'center' },
                {
                    field: 'Status', title: '状态', width: 100, align: 'center', formatter: function (value, row, index) {
                        switch (row.Status) {
                            case -1:
                                return "<font color=#d02e2e>未审核</font>";
                                break;
                            case 0:
                                return "<font color=#2967c9>审核中</font>";
                                break;
                            case 1:
                                return "<font color=#1fc73a>已同意</font>";
                                break;
                            case 2:
                                return "<font color=#d02e2e>不同意</font>";
                                break;
                            case 3:
                                return "<font color=#d02e2e>已作废</font>";
                                break;

                        }
                    }
                },
            ]],
            onDblClickRow: function (value, row, index) {

                $('#openIframedetail')[0].src = "/MajorInvoice/ViewMajorInvoiceDetail?ID=" + row.ID;
                $("#detailDiv").dialog({
                    onClose: function () {
                        $("#List").datagrid("reload");//刷新列表 
                    }
                });
                $('#detailDiv').dialog('open');
            },


        })

        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            });
        });


    })

    function Query() {
        var queryStr = $("#txtQuery").val();
        var status = $("#selStatus").val();
        var statedate = $('#statethisdate').datebox('getValue');
        var EndDate = $('#Endthisdate').datebox('getValue');
        if (queryStr == null) {
            queryStr = "%";
        }
        var val = $("#selStatus").val();
        $('#List').datagrid({
            url: '/MajorInvoice/GetMajorInvoiceList?queryStr=' + encodeURI(queryStr) + "&status=" + val + '&selStatus=' + status + '&statedate=' + statedate + '&EndDate=' + EndDate     //+ '&statedate=' + statedate + '&EndDate=' + EndDate + '&dianming=' + dianming
        });
        $("#txtQuery").focus().select();
    }

    $('#btnQuery').click(function () {
        Query();
    });

 
   
</script>
<div id="EditDiv" class="easyui-dialog" closed="true" modal="true" title="编辑" style="width:400px; height:260px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='IframeEdit' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>
<div id="detailDiv" class="easyui-dialog" closed="true" modal="true" title="详情" style="width: 800px; height: 600px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='openIframedetail' frameborder="0" src="" style="width: 98%; height: 98%;"></iframe>
</div>


