@{
    ViewBag.Title = "ViewRespiratorDetail";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<style type="text/css">
      .datagrid-cell-group {
  font-size:1.2em;
  font-weight:600;
    }
</style>

<script type="text/javascript">
    $(function () {
        document.title = '详情'
        var RID = "@ViewData["OrderID"]";
        var Durl = "/Respirator/GetRespiratorDetailList/?RID=" + RID;
        var Aurl = "/Respirator/GetRespiratorAfterSaleList/?RID=" + RID;
        $('#DetailList').datagrid({
            url: Durl,
            width: $(window).width() - 15,
            method: 'post',
            height: $(window).height() * 0.6 - 25,
            fitColumns: true,
            // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 10,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [
                [{ title: '订单明细', colspan: 6 },],
                [{ field: 'ProductName', title: '产品名称', width: 100, align: 'center' },
                { field: 'Company', title: '单位', width: 80, align: 'center' },
                { field: 'ProductCode', title: '产品序列号', width: 100, align: 'center' },
                { field: 'Number', title: '数量', width:80, align: 'center' },
                { field: 'Price', title: '单价', width: 80, align: 'center', },
                { field: 'Subtotal', title: '小计', width: 80, align: 'center' },
            ]],
            onDblClickRow: function (rowIndex, rowData) {
            },
        })
        $('#AfterSaleList').datagrid({
            url: Aurl,
            width: $(window).width() - 15,
            method: 'post',
            height: $(window).height()*0.4 - 25,
            fitColumns: true,
            // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 10,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [
                [{ title: '售后跟进记录', colspan: 3 }, ],
                [{ field: 'Name', title: '跟进人', width: 80, align: 'center' },
                { field: 'Date', title: '跟进时间', width: 80, align: 'center', formatter: formatDateBoxFull },
                { field: 'Problem', title: '售后问题', width: 200, align: 'center' },
            ]],
            onDblClickRow: function (rowIndex, rowData) {
            },
        })
        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#DetailList').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() * 0.6 
            })
        });
        $(window).resize(function () {
            $('#AfterSaleList').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() * 0.4-25
            })
        });
    })

</script>
<table id="DetailList"></table>
<table id="AfterSaleList"></table>