@{
    ViewBag.Title = "ViewCheckDetail";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<table id="List"></table>

<script type="text/javascript">
 $(function () {
        var url = "/DepartmentActivity/GetCheckList/?DID="+"@ViewData["DID"]";
        $('#List').datagrid({
            url: url,
            width: $(window).width()-15,
            method: 'post',
            height: $(window).height() - 45,
            fitColumns: true,
           // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 20,
           // pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                { field: 'ApproveName', title: '审核人', width: 60, align: 'center' },
                { field: 'Status', title: '审核状态', width: 80, align: 'center', formatter: state },
                { field: 'Memo', title: '审核备注', width: 80, align: 'center' },
                { field: 'ApproveTime', title: '审核时间', width: 60, align: 'center', formatter: formatDateBoxFull },
            ]],
        })

        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            });
        });
    })

</script>
