@{
    ViewBag.Title = "ViewUploadPic";
}

<script type="text/javascript">      
        function save()
        {
           
            var files = document.getElementsByName("file");
            for (var i = 0; i < files.length; i++) {
                if ("" == files[i].value) {
                    alert("文件不能为空");
                    return false;
                }
                var lastIndex = files[i].value.lastIndexOf(".");
                var result = files[i].value.substring(lastIndex + 1);
                if ("jpg" != result && "gif" != result) {
                    alertContext("请选择图片文件!");
                    return false;
                }
            }
        } ;  
 </script>
<form action="/Personnel/UploadPic" method="post" 
enctype="multipart/form-data"  > 
    <div style="line-height:30px">
       <label>寸照</label>
                        <input name="file" type="file" id="file" /> 
                    <br />
        <input type="submit" name="Upload" id="btnbaocun" value="上传" onsubmit="return save();"  />
     </div>

</form>

