@{
    ViewBag.Title = "ViewConfigList";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="Company-top-box">
    <div class="search-box">
         <input type="text" placeholder="..." id="txtQuery"  class="icon-search-txt">
         <input type="button" value="查询" id="btnQuery" class="icon-search">

     </div>
     <div class="btn-bar">
          <a href="#" id="btnAdd" class="icon-check">新增</a>
         <a href="#" id="btnEdit" class="icon-edit">编辑</a>
        
    </div>
</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>

<script type="text/javascript">
    enterSearch("#btnQuery");
  
    $(function () {
        var url = "GetConfigList";
        $('#List').datagrid({
            url: url,
            width: $(window).width()-15,
            method: 'post',
            height: $(window).height() - 45,
            fitColumns: true,
           // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 20,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                { field: 'Name', title: '名称', width: 120, align: 'center' },
                { field: 'Step', title: '步骤', width: 100, align: 'center' },
                { field: 'Type', title: '类型', width: 100, align: 'center' },
            ]],
            onDblClickRow: function (rowIndex, rowData) {
                Detail(rowData.ID)
            },


        })

        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            });
        });

       
    })

 function Query()
    {
        var queryStr = $("#txtQuery").val();
       
        $('#List').datagrid({
            url: 'GetConfigList?queryStr=' + encodeURI(queryStr)   //+ '&statedate=' + statedate + '&EndDate=' + EndDate + '&dianming=' + dianming

        });
        $("#txtQuery").focus().select();
    }
    $('#btnQuery').click(function () {

        Query();

    });
    $('#btnEdit').click(function () {
        var row = $('#List').datagrid('getSelected');
        if (row) {
            $('#EditDiv').dialog('open');
            $('#IframeEdit')[0].src = "ViewConfigEdit?ID=" + row.ID;
        }
        else {
            $.messager.alert("提示", "@Lib.MessageRes.PleaseSelect", "info");
     }
     })
    $('#btnAdd').click(function () {
        $('#AddDiv').dialog('open');
        $('#IframeAdd')[0].src = "ViewConfigAdd";
    })
    </script>
<div id="EditDiv" class="easyui-dialog" closed="true" modal="true" title="编辑" style="width:400px; height:260px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='IframeEdit' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>
<div id="AddDiv" class="easyui-dialog" closed="true" modal="true" title="新增" style="width:400px; height:260px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='IframeAdd' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>
