@{
    ViewBag.Title = "ViewReissueForMy";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}


<script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
<div class="Company-top-box">
    <div class="search-box">
        <select id="selStatus" name="selStatus" class="sel-box">
            <option value="-3" selected>状态</option>
            <option value="2">不同意</option>
            <option value="1">已同意</option>
            <option value="0">审核中</option>
            <option value="-1">未审核</option>
            <option value="-2">草拟</option>
        </select>
        订单类型:
        @Html.DropDownList("orderType", ViewData["orderType"] as List<SelectListItem>)
        <input type="text" id="txtQuery" style="width: 150px;" placeholder="订单号/新单号/会员名称" />
        <span style="color: #808080; padding-right: 10px; font-size: 13px; margin-top: 3px; margin-left: 10px;">操作时间</span>
        <input name="statethisdate" style="float: left;" value="" id="statethisdate" class="easyui-datebox" data-options="sharedCalendar:'#statethisdate'">
        <span style="color: #808080; padding-right: 10px; font-size: 13px; margin-top: 3px; margin-left: 10px;">至</span>
        <input name="Endthisdate" style="float: left;" value="" id="Endthisdate" class="easyui-datebox" data-options="sharedCalendar:'#Endthisdate'">
        <input type="button" value="查询" id="btnQuery" class="icon-search">
    </div>
    <div class="btn-bar">
        <a href="#" onclick="Save()" class="modal-btn modal-btn-save">提交到审核</a>
        <a href="#" onclick="Edit()" class="icon-edit">编辑</a>
        <a href="#" onclick="Delete()" class="icon-remove">删除</a>
        <a href="#" onclick="OutputExcel(this)" class="icon-check">导出Excel</a>
        <p class="showBar">查看详情 : 请双击需要查看的数据</p>
    </div>
</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>
<script type="text/javascript">
    //回车触发查询
    enterSearch("#btnQuery");
    $(function () {
        var url = "GetReissueForMyList";
        $('#List').datagrid({
            url: url,
            width: $(window).width() - 15,
            method: 'post',
            height: $(window).height() * 0.95,
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'id',
            pageSize: 30,
            showFooter: true,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            frozenColumns: [[
                { field: 'OrderCode', title: '订单号', width: 140, align: 'center' },
                  { field: 'NewOrderCode', title: '新订单号', width: 140, align: 'center' },
                 { field: 'SalesRemark', title: '卖家备注', width: 140, align: 'center' },
                { field: 'BuyRemark', title: '买家备注', width: 140, align: 'center' },
                { field: 'ReissueReson', title: '补发原因', width: 140, align: 'center' },
                { field: 'WarhouseName', title: '仓库名称', width: 80, align: 'center' },
                                  {
                                      field: 'Status', title: '状态', width: 80, align: 'center', formatter: function (value, row, index) {
                                          switch (value) {
                                              case -2:
                                                  return "<font color=blue>草拟</font>"
                                                  break;
                                              case -1:
                                                  return "<font color=blue>未审核</font>"
                                                  break;
                                              case 0:
                                                  return "<font color=blue>审批中</font>"
                                                  break;
                                              case 1:
                                                  return "<font color=green>已同意</font>"
                                                  break;
                                              case 2:
                                                  return "<font color=red>不同意</font>"
                                                  break;
                                              default:
                                                  return "<font color=red>NULL</font>"
                                          }
                                      }
                                  },
                   { field: 'SystemRemark', title: '系统备注', width: 80, align: 'center' },
            ]],
            columns: [[
                 { field: 'StoreName', title: '店铺名称', width: 130, align: 'center' },
                { field: 'VipName', title: '会员名称', width: 100, align: 'center' },
                 { field: 'Cost', title: '补发金额', width: 80, align: 'center' },
                 { field: 'OrderType', title: '订单类型', width: 80, align: 'center' },
                  { field: 'PostUser', title: '操作人', width: 60, align: 'center' },
                { field: 'CreatDate', title: '操作时间', width: 140, align: 'center' },
                { field: 'ReceivingName', title: '收货人', width: 70, align: 'center' },
                { field: 'TelPhone', title: '移动电话', width: 100, align: 'center' },
                { field: 'Address', title: '收货地址', width: 180, align: 'center' },
            ]],
            onDblClickRow: function (value, row, index) {
                $('#openIframedetail')[0].src = "ViewReissueDetail?reissueId=" + row.ID;
                $('#detailDiv').dialog('open');
            }
        });
        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 50
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 50
            });
        });
    });


    function Edit() {
        var row = $('#List').datagrid("getSelected");
        if (row == null) {
            $.messager.alert('提示', "请选中需要操作的数据", "info");
            return false;
        }
        if (row.Status == -1 || row.Status == 2 || row.Status == -2) {
            $('#openIframeEdit')[0].src = "ViewReissueEdit?id=" + row.ID;
            $("#editDiv").dialog({
                onClose: function () {
                    $("#List").datagrid("reload");//刷新列表 
                }
            });
            $('#editDiv').dialog('open');
        } else {
            $.messager.alert('提示', "只有未审批/不同意/草拟才可编辑", "info");
            $("#List").datagrid("reload");
        }
    }

    function OutputExcel(s) {
        var queryStr = $("#txtQuery").val().trim();
        var orderType = $("#orderType option:selected").val();
        var statedate = $('#statethisdate').datebox('getValue');
        var EndDate = $('#Endthisdate').datebox('getValue');
        s.href = 'OutPutExcel?query=' + queryStr + '&orderType=' + orderType + "&my=" + 1 + "&startDate=" + statedate + "&endDate=" + EndDate;
    }

    function Save() {
        var row = $('#List').datagrid("getSelected");
        if (row == null) {
            $.messager.alert('提示', "请选中需要操作的数据", "info");
            return false;
        }
        if (row.Status != -2) {
            $.messager.alert('提示', "只能提交草拟状态", "info");
            return false;
        }
        $.messager.confirm('提示', '确定提交到审核流程?', function (r) {
            if (r) {
                loading(0);
                $.ajax({
                    url: "SubmitApprove?id=" + row.ID,
                    type: "Post",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        loading(1);
                        if (data.State == "Success") {
                            $.messager.alert('提示', '操作成功', "info", function () {
                                $('#List').datagrid('reload');
                            });
                        }
                        else {
                            $.messager.alert('提示', data.Message, "info", function () {
                                $('#List').datagrid('reload');
                            });
                        }
                        $('#List').datagrid("clearSelections");
                    },
                    error: function () {
                        loading(1);
                    }
                });
            }
        });
    }

    function Delete() {
        var row = $('#List').datagrid("getSelected");
        if (row == null) {
            $.messager.alert('提示', "请选中需要操作的数据", "info");
            return false;
        }
        if (row.Status == -1 || row.Status == -2) {
            $.messager.confirm('提示', '是否删除该记录?请谨慎选择', function (r) {
                if (r) {
                    loading(0);
                    $.ajax({
                        url: "ReissueDelete?id=" + row.ID,
                        type: "Post",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {
                            loading(1);
                            if (data.State == "Success") {
                                $.messager.alert('提示', '操作成功', "info", function () {
                                    $('#List').datagrid('reload');
                                });
                            }
                            else {
                                $.messager.alert('提示', data.Message, "info", function () {
                                    $('#List').datagrid('reload');
                                });
                            }
                        },
                        error: function () {
                            loading(1);
                        }
                    });
                }
            });
        } else {
            $.messager.alert('提示', "只有未审批/草拟状态才可删除", "info");
            $("#List").datagrid("reload");
        }
    }

    $("#btnQuery").click(function () {

        var queryStr = $("#txtQuery").val().trim();
        var status = $("#selStatus").val();
        var orderType = $("#orderType option:selected").val();
        var statedate = $('#statethisdate').datebox('getValue');
        var EndDate = $('#Endthisdate').datebox('getValue');
        //如果查询条件为空默认查询全部
        if (queryStr == null) {
            queryStr = "%";
        }

        $('#List').datagrid({
            url: 'GetReissueForMyList?code=' + encodeURI(queryStr) + "&status=" + status + "&orderType=" + orderType + "&startDate=" + statedate + "&endDate=" + EndDate
        });

    });

</script>
<div id="detailDiv" class="easyui-dialog" closed="true" modal="true" title="详情" style="width: 630px; height: 450px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='openIframedetail' frameborder="0" src="" style="width: 98%; height: 98%;"></iframe>
</div>
<div id="editDiv" class="easyui-dialog" closed="true" modal="true" title="编辑" style="width: 1200px; height: 650px;" resizable="true" closable="true">
    <iframe scrolling="auto" id='openIframeEdit' frameborder="0" src="" style="width: 98%; height: 98%;"></iframe>
</div>
