@{
    ViewBag.Title = "ViewAssetsTransferApprove";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
<div class="Company-top-box">
   
     <div class="search-box">
         <input type="text" placeholder="资产名称或编码.." id="txtQuery"  class="icon-search-txt">
         <input type="button" value="查询" id="btnQuery" class="icon-search">
    </div>
     <div class="btn-bar">
        <a href="#" id="btnCheck" class="icon-edit">审核</a>
        
    </div>
</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>
<style type="text/css">
      .datagrid-cell-group {
  font-size:1.2em;
  font-weight:600;
    }
</style>
<script type="text/javascript">
    enterSearch("#btnQuery");
  
    $(function () {
        var url = "/FixedAssets/GetViewAssetsTransferApplyList?isApprove=1";
        $('#List').datagrid({
            url: url,
            width: $(window).width()-15,
            method: 'post',
            height: $(window).height() - 45,
            fitColumns: true,
           // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 20,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                { title: '资产', colspan: 2 },
                { title: '申请信息', colspan: 5, },
                { title: '变更前', colspan: 2, },
                { title: '变更后', colspan:2, },
            ],
            [{ field: 'Name', title: '资产名称', width: 100, align: 'center' },
             { field: 'Code', title: '资产代码', width: 80, align: 'center' },

               { field: 'PostUserName', title: '申请人', width: 60, align: 'center' },
               { field: 'PostDate', title: '申请时间', width: 80, align: 'center', formatter: formatDatebox },
               { field: 'TransferType', title: '变更类型', width: 60, align: 'center' },
               { field: 'LastApproveName', title: '接收人', width: 60, align: 'center' },
               { field: 'Memo', title: '备注', width: 60, align: 'center' },

              // { field: 'Owner', title: '使用人', width: 60, align: 'center' },
               { field: 'Place', title: '地点', width: 80, align: 'center' },
               { field: 'Department', title: '部门', width: 80, align: 'center' },
              // { field: 'Responsible', title: '负责人', width: 60, align: 'center' },

               //{ field: 'TransferOwner', title: '使用人', width: 60, align: 'center' },
               { field: 'TransferPlace', title: '地点', width: 80, align: 'center' },
               { field: 'TransferDepartment', title: '部门', width: 80, align: 'center' },
              // { field: 'TransferResponsible', title: '负责人', width: 60, align: 'center' },
               
              
            ]],
            onDblClickRow: function (rowIndex, rowData) {
                ApproveDetail(rowData.ID)
            },


        })

        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            });
        });


    })

 function Query()
 {
     var queryStr = $("#txtQuery").val();
     $('#List').datagrid({
         url: '/FixedAssets/GetViewAssetsTransferApplyList?isApprove=1&queryStr=' + encodeURI(queryStr)   //+ '&statedate=' + statedate + '&EndDate=' + EndDate + '&dianming=' + dianming
     });
     $("#txtQuery").focus().select();
 }
 function Check()
 {
     var row = $('#List').datagrid('getSelected');
     if (row != null) {
         $('#IframeCheck')[0].src = "/FixedAssets/ViewAssetsTransferApprove?id=" + row.ID;
         $('#CheckDiv').dialog('open');
     }
     else { $.messager.alert('提示', '请选择一条记录', "info"); }
 }
 $('#btnQuery').click(function () {
     Query();
 });
 $('#btnCheck').click(function () {
     Check();
 });
 function ApproveDetail(ID) {
     if (ID != null && ID > 0) {
         $('#IframeDetail')[0].src = "/FixedAssets/ViewTransferApproveDetail?ID=" + ID;
         $('#DetailDiv').dialog('open');
     }
     else { $.messager.alert('提示', '请选择一条记录', "info"); }
 }
</script>
<div id="CheckDiv" class="easyui-dialog" closed="true" modal="true" title="审核" style="width:30%; height:40%;"resizable="true" closable="true">
    <iframe scrolling="yes" id='IframeCheck' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>
<div id="DetailDiv" class="easyui-dialog" closed="true" modal="true" title="审核详情" style="width:40%; height:50%;"resizable="true" closable="true">
    <iframe scrolling="yes" id='IframeDetail' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>
