@{
    ViewBag.Title = "ViewEmployeeDemandList";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="Company-top-box">
   
     <div class="search-box">
         <input type="text" placeholder="岗位.." id="txtQuery"  class="icon-search-txt">
     
         <input type="button" value="查询" id="btnQuery" class="icon-search">
         
    </div>
    <div class="btn-bar">
           <a href="#" id="btnCheck" class="icon-check">确认分配</a>

    </div>
 </div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>

<script type="text/javascript">
   
    enterSearch("#btnQuery");
    $(function () {
        var url = "/Recruit/GetEmployeeDemandList/";
        $('#List').datagrid({
            url: url,
            width: $(window).width()-15,
            method: 'post',
            height: $(window).height() - 45,
            fitColumns: true,
           // sortName: 'Code',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 20,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: false,//行号
            columns: [[
                { field: 'ID', title: '', width: 60, align: 'center',checkbox:true },
                { field: 'Job', title: '岗位', width: 60, align: 'center' },
                { field: 'PeopleNum', title: '人数', width: 80, align: 'center' },
                { field: 'DistributionNum', title: '已分配人数', width: 60, align: 'center' },
                { field: 'State', title: '审核状态', width: 40, align: 'center', formatter: stateSecond },
                { field: 'Date', title: '申请时间', width: 80, align: 'center', formatter: formatDateBoxFull },
                { field: 'Memo', title: '备注', width: 110, align: 'center' },
                { field: 'PerMemo', title: '人事备注', width: 110, align: 'center' },
            ]],
            onDblClickRow: function (rowIndex, rowData) {
            
            },
        })

        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 40
            });
        });


    })

 function Query()
    {
     var queryStr = $("#txtQuery").val();
     $('#List').datagrid({
         url: '/Recruit/GetEmployeeDemandList?queryStr=' + encodeURI(queryStr) //+ '&State=' + State// + '&EndDate=' + EndDate + '&dianming=' + dianming

        });
        $("#txtQuery").focus().select();
    }
 $('#btnQuery').click(function () {
     Query();
 });
 $('#btnCheck').click(function () {
     var RID = "@ViewData["ID"]";//简历ID
   
     var row = $('#List').datagrid('getSelected');
    
         if (row != null) {
             if (row.State == 1) {
                 $.messager.confirm('提示', "确认分配给该需求吗", function (r) {

                    if (r) {
                        loading(0);
                        var flag = 0
                        if (flag == 0) {
                            flag++
                            $.ajax({
                                url: "/Recruit/ResumeDistribute?DID=" + row.ID + "&RID=" + RID,
                                type: "Post",
                                contentType: "application/json",
                              //  data: { DID: "'" + row.ID + "'", RID: "'" + RID + "'" },
                                dataType: "json",
                                success: function (data) {
                                    if (data.State == "Success") {
                                        loading(1);
                                        parent.$('#List').datagrid('reload');
                                        $.messager.alert('提示', '@Lib.MessageRes.SaveOK', "info", function () {
                                            parent.$('#editDiv').dialog('close');
                                        });
                                    }
                                    else {
                                        loading(1);
                                        flag = 0
                                        $.messager.alert('提示', data.Message, "info");
                                    }
                                }, error: function (data) {
                                    loading(1);
                                    flag = 0;
                                    $.messager.alert('提示', data.statusText, "info");
                                }

                            });
                        }
                    }
                });
            }
            else { $.messager.alert('提示', '', "info"); }
        }
        else {
            $.messager.alert('提示', '@Lib.MessageRes.PleaseSelect', "info");
        }
    

 })


</script>
<div id="DetailDiv" class="easyui-dialog" closed="true" modal="true" title="详情" style="width:50%; height:50%;" resizable="true" closable="true">
    <iframe scrolling="auto" id='IframeDetail' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>


