@model  EBMS.Models.T_LossReport
@{
    //商品列表
    ViewBag.Title = "报损已审核";
    Layout = "~/Views/Shared/_Main_Edit.cshtml";
}
<script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
<style>
    .datebox .combo-arrow {margin:5px 0 0 -20px;}
    body {padding:5px;overflow:hidden}
</style>
<div class="Company-top-box">
    <div class="search-box">
         <input type="text" placeholder="采购申请人/编码.." id="txtQuery"  class="icon-search-txt">
              <span style="color: #808080; padding-right: 10px; font-size: 13px; margin-top: 3px; margin-left: 10px;">开始时间</span>
        <input name="statethisdate" editable="false" style="float: left;" value="" id="statethisdate" class="easyui-datebox" data-options="sharedCalendar:'#statethisdate'">
        <span style="color: #808080; padding-right: 10px; font-size: 13px; margin-top: 3px; margin-left: 10px;">结束时间</span>
        <input name="Endthisdate" editable="false"  style="float: left;" value="" id="Endthisdate" class="easyui-datebox" data-options="sharedCalendar:'#Endthisdate'">
         <input type="button" value="查询" id="btnQuery" class="icon-search">
    </div>
    <div class="btn-bar">
     @*   <a href="#" rel="external" ajax-data="false" class="icon-edit" onclick="getExcel(this)">导出Excel</a>*@
         <p class="showBar">查看采购详情 : 请双击需要查看的数据</p>
    </div>
</div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
<table id="List"></table>
<script type="text/javascript">
    enterSearch("#btnQuery");
    var statusVal = $("#selStatus").val();
    $(function () {
        var url = "../Purchase/CheckedPurchaseReportList";
        $('#List').datagrid({
            url: url,
            width: $(window).width() - 15,
            method: 'post',
            height: $(window).height() - 50,
            fitColumns: true,
            sortName: 'id',
            sortOrder: 'desc',
            idField: 'id',
            pageSize: 20,
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            columns: [[
                  { field: 'ApplyName', title: '申请人', width: 100, align: 'center' },
                     { field: 'PurchaseOddNum', title: '采购编码', width: 200, align: 'center' },
                 { field: 'ApplyDepartment', title: '采购部门', width: 100, align: 'center' },
                 { field: 'Warehouse', title: '仓库', width: 100, align: 'center' },
                    {
                        field: 'Ispayment', title: '付款情况', width: 100, align: 'center', formatter: function (value, row, index) {
                            switch (row.Ispayment) {
                                case 0:
                                    return "<font color=#d02e2e>未付款</font>";
                                    break;
                                case 1:
                                    return "<font color=#2967c9>付款中</font>";
                                    break;
                                case 2:
                                    return "<font color=#1fc73a>已完成</font>";
                                    break;
                            }
                        }
                    },
                 {
                     field: 'IsReceived', title: '收货情况', width: 100, align: 'center', formatter: function (value, row, index) {
                         switch (row.IsReceived) {
                             case 0:
                                 return "<font color=#d02e2e>未收货</font>";
                                 break;
                             case 1:
                                 return "<font color=#2967c9>收货中</font>";
                                 break;
                             case 2:
                                 return "<font color=#1fc73a>收货完成</font>";
                                 break;
                         }
                     }
                 },
                 {
                     field: 'Status', title: '状态', width: 100, align: 'center', formatter: function (value, row, index) {
                         switch (row.Status) {
                             case -1:
                                 return "<font color=#d02e2e>未审核</font>";
                                 break;
                             case 0:
                                 return "<font color=#2967c9>审核中</font>";
                                 break;
                             case 1:
                                 return "<font color=#1fc73a>已同意</font>";
                                 break;
                             case 2:
                                 return "<font color=#d02e2e>不同意</font>";
                                 break;
                             case 3:
                                 return "<font color=#d02e2e>已作废</font>";
                                 break;

                         }
                     }
                 },
                 { field: 'ApplyDate', title: '申请时间', width: 100, align: 'center', formatter: formatDatebox },

            {
                field: 'action', title: '操作', width: 100, align: 'center',
                formatter: function (value, row, index) {
                    var e = ' <div class="btn-bar"><a href="#" class="icon-edit" onclick=Show(' + row.ID + ')>审核详情</a></div>';
                    return e;
                }
            }            ]],
            onClickRow: function (rowIndex, rowData) {
            },
            onDblClickRow: function (rowIndex, rowData) {
                var url = "../Purchase/ViewPurchaseListDetail?tid=" + rowData.ID
                window.open(url, "_blank", "height=" + (window.screen.availHeight * 0.7) + ",width=" + (window.screen.availWidth * 0.7) + ",scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
            },            onAfterEdit: function (index, rowData) {//回调函数可以直接用于操作页面
            }
        });
        //grid 大小随窗口变化
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 50
            }).datagrid('resize', {
                width: $(window).width() - 15,
                height: $(window).height() - 50
            });
        });
    });
    //得到选中行集合的id
    function getSelections() {
        var ss = [];
        var rows = $('#List').datagrid('getSelections');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            ss.push(row.Id);
        }
        return ss;
    }
    $("#btnQuery").click(function () {
        var queryStr = $("#txtQuery").val();
        var statedate = $('#statethisdate').datebox('getValue');
        var EndDate = $('#Endthisdate').datebox('getValue');
        //如果查询条件为空默认查询全部
        if (queryStr == null) {
            queryStr = "%";
        }
        $('#List').datagrid({
            url: '../Purchase/CheckedPurchaseReportList?queryStr=' + encodeURI(queryStr) + "&startSendTime=" + statedate + "&endSendTime=" + EndDate
        });

    });
    function Show(id) {
        var url = "../Purchase/ViewPurchaseListDetail?tid=" + id
        window.open(url, "_blank", "height=" + (window.screen.availHeight * 0.7) + ",width=" + (window.screen.availWidth * 0.7) + ",scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
    }
    ////Excel导出
    //function getExcel(obj) {
    //    var statedate = $('#statethisdate').datebox('getValue');
    //    var EndDate = $('#Endthisdate').datebox('getValue');
    //    obj.href = '../LossReport/getExcel?statedate=' + statedate + '&EndDate=' + EndDate;
    //}</script>
<div id="showDiv" class="easyui-dialog" closed="true" modal="true" title="审核详情" style="width:420px; height:420px;" resizable="true" closable="true">
    <iframe scrolling="yes" id='openIframeShow' frameborder="0" src="" style="width:100%;height:98%;"></iframe>
</div>

